body {
   background-color: #f5f5f5;
   color: #9a1414;
}

nav {
  border-bottom: 1px solid #dbdbdb;
   background-color: #ffffff;
    height: 76px;
}

.brand {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  vertical-align: middle;
}

.nav_links {
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
  margin: 0 20px;
}

.nav_wrapper {
  line-height: 80px;
}

.photo {
  width: 100%;
  max-height: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto
}

.post_box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin: 60px 0px;
  margin-left: 30%;
  margin-right: 30%;
}

.post_header{
  height: 60px;
  padding: 14px 20px;
  font-weight: 600;
}

.post_body{
  padding: 10px 24px 0px 24px;
  
}

.likes{
  padding-left: 20px;
}

.post_comments {
  padding: 10px 25px;
}

.comment{
  margin-bottom:10px;
}

.timestamp {
  color: #a5a7aa;
  font-weight: 500;
}
.prof_header{
  height: 100%;
  padding: 60px 20px 0px;
  margin-bottom: 45px;
}

.username {
  color: #4b4f54;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.count{
  color: #34373b;
  font-weight: 600;
}

.prof_show {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.prof_post_box {
  margin-bottom: 50px;
}

.user_edit_button {
  margin-top: 25px;
  border-color: #818488;
  color: #818488;
}

.prof_pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.prof_pic_small {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.post_like {
  .fa {
    font-size: 20px;
  }
}

.controls{
  width: 100%;
}

.center-block{
  padding-left: 50px;
}

.register{
  padding-top:10px;
}

.signup{
  padding-top:30px;
}

hr{
  margin:0 auto;
}

.form-group{
  width: 100%;
}

.control{
  padding-top:5px;
}

.prof_show {
  margin-right:auto;
  margin-left:auto;
  padding: 10px;
  position: relative;
    float: left;
    background-position: 100% 100%;
    background-repeat:   no-repeat;
    background-size:     cover;

}
